extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    Main.container.mt-5
        h2.text-center.mt-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quaerat id, nulla doloribus explicabo mollitia, saepe, quibusdam recusandae quam natus inventore non vitae eos! Dolore numquam voluptates voluptatibus molestiae delectus?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil architecto eos beatae animi commodi. Debitis vero mollitia sint placeat, recusandae modi magnam ratione, nobis repellat, voluptatibus maiores voluptas nam voluptatem?
            .col-md-6
            img(src="/img/inicio_nosotros.jpg", alt="Imagen nosotros",class="img-fluid")

        include ./layout/bloque_viajes
    
    .descuento
        .container
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 -28 de Marzo del 2022
                        p.precio $2,500 USD
    .container
        h2.mt-5.text-center  Testimoniales
        include ./layout/bloque_testimoniales