extends ./layout/index

block contenido
    Main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros",class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, dolorum vel minima distinctio molestias repellat. Dolores voluptatibus odit minus totam, quod molestias debitis, architecto, necessitatibus dolor illum autem corporis culpa.

                p ipsum, dolor sit amet consectetur adipisicing elit. Iure debitis ducimus consequuntur vero repudiandae, placeat deserunt accusamus autem corrupti, distinctio sapiente nemo enim tenetur a amet voluptatum fugiat mollitia minima?


                p ipsum dolor sit amet consectetur adipisicing elit. Quas placeat enim corrupti aut? Iusto consequatur perferendis maiores, itaque quod delectus aperiam deserunt beatae qui quo enim officiis, explicabo quibusdam nobis!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia consectetur cum itaque fugit obcaecati repudiandae, dignissimos corrupti, deleniti cupiditate culpa dolorem officiis nemo, recusandae quaerat consequuntur est architecto! Voluptates, accusantium.
                .col-md-4
                    img(src="img/icono_destino.svg", alt="icono destino",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia consectetur cum itaque fugit obcaecati repudiandae, dignissimos corrupti, deleniti cupiditate culpa dolorem officiis nemo, recusandae quaerat consequuntur est architecto! Voluptates, accusantium.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio",class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia consectetur cum itaque fugit obcaecati repudiandae, dignissimos corrupti, deleniti cupiditate culpa dolorem officiis nemo, recusandae quaerat consequuntur est architecto! Voluptates, accusantium.